# Operators and Operands

eg: 2+2
2,2 => Operands <br>
"+" => Operators

In [1]:
# Variable Assignments
a=5
b=10
name="Max"

In [2]:
#check the type of variable
print(type(a))
print(type(name))

<class 'int'>
<class 'str'>

# Operators and operands: 
Operators are the special symbol that represents the computation and the values on which it is applied are operands.

In [3]:
#Additon
a+b

15

In [4]:
#subtraction
a-b

-5

In [5]:
#multiplication
a*b

50

In [6]:
#float division
10/a

2.0

In [7]:
#Integer division
b//a

2

In [8]:
#Exponent operator
b**a

100000

In [9]:
#modulous operator
b%a

0

# String and Its Operations
String is the sequence of characters. eg: Hamza, Shubham,ect.

In [10]:
name1="Hamza"
name2="Shubham"

In [11]:
print(name1)

Hamza

In [12]:
print(name2)

Shubham

In [13]:
# String Concatenation or addition
print("Good Morning "+name1+" "+name2)

Good Morning Hamza Shubham

In [14]:
# String slicing
# variablename[startpos:endpos:increment]
name1[2:]

'mza'

In [15]:
name2[-5:-2:1]

'ubh'

In [16]:
# variablename[startpos:endpos:increment]
name1[-1:-6:-1]

'azmaH'

In [17]:
# How to take string inputs

# name = input("Enter your Name:")
# print("Hey "+name+"!!!")

In [18]:
# # integer input
# num1= input("Enter the number 1:")
# num2= int(input("Enter the number 2:"))
# print(type(num1))
# print(type(num2))

In [19]:
# Float Input
# num = float(input("Provide your number:"))
# print(num)

# Python Data Structures or Collections

Data structure means a way to organise the data to access it quickly and effciently.
     
        1. List (Mutable - Can be modified and updated)
        2. Tuple (Immutable -  Can not be modified and updated)
        3. Sets  (Mutable - Can be modified)

In [20]:
# List

marks = [23,25,45,65]
print(marks)
days = ["Sunday", 2, "Tuesday", "3", "Wednesday"]
print(days)

[23, 25, 45, 65]
['Sunday', 2, 'Tuesday', '3', 'Wednesday']

In [21]:
# Accessing the list values

print(marks[0])
print(marks[1])
print(marks[2])
print(marks[3])

# List negative indexing

print(marks[-1])
print(marks[-2])
print(marks[-3])
print(marks[-4])

23
25
45
65
65
45
25
23

In [22]:
print(marks[-1])
print(marks[3])

65
65

In [23]:
# modification of a list element

marks[3]=4
print(marks)
marks[-3]=6
print(marks)

[23, 25, 45, 4]
[23, 6, 45, 4]

In [24]:
my_list = ["Hey", "I", "am", "Hamza", "Learning", "Python", 56, 64, 6.0, 3, 335.5]

# Que => write positive and negeative both indexs to access the follwing
    
#     1) Hamza
#     2) Learning
#     3) 64
#     4) 6.0
#     5) am
#     6) Python

# tuple
Tuple is similar to list in every manner only difference is that it is immutable(It means once it is initialized it can not be 
modified).

eg: 
    my_items = ("rugby", "pen", "box", "books")

In [25]:
# Ways to initialize the tuple 

my_items = ("rugby", "pen", "box", "books")
print(my_items[0])

print(type(my_items))

rugby
<class 'tuple'>

In [26]:
# difference in the list and tuple

print(marks)
marks[1] = 60
marks.append(80)
print(marks)

# my_items.append("football") => tuples can not be modified or updated
print(my_items)

[23, 6, 45, 4]
[23, 60, 45, 4, 80]
('rugby', 'pen', 'box', 'books')

# Basic operation on the list using some important methods

1. append()
        This method adds up the element at the last of the list.
        
2. pop()
        This method remove the last element of list.

3. insert()
        This method will add the element to the desired position.

4. remove()
        This method will remove the first occurance of the element.

5. count()
        This method will give the count of the number of elements present in the list.
        
6. sort()
        This method will sort the list in ascending order (increasing) .
        To sort in descending (decreasing) order needed to pass the argument "reverse=True".

In [27]:
print(marks)

[23, 60, 45, 4, 80]

In [28]:
# append
# marks.append("Raju")
print(marks)

# pop
marks.pop()
print(marks)

# insert(position, element)

marks.insert(0, "Hamza")
print(marks)

marks.insert(4, "Shubham")
print(marks)

[23, 60, 45, 4, 80]
[23, 60, 45, 4]
['Hamza', 23, 60, 45, 4]
['Hamza', 23, 60, 45, 'Shubham', 4]

In [29]:
marks.insert(5, 100)
print(marks)

['Hamza', 23, 60, 45, 'Shubham', 100, 4]

In [30]:
# remove("Shubham")

# marks.remove("Shubham")
# marks.remove("Hamza")
# marks.remove("Hamza")
print(marks)

['Hamza', 23, 60, 45, 'Shubham', 100, 4]

In [31]:
# Count(element)

no_of_Hamza = marks.count("Hamza")
print(no_of_Hamza)

1

In [32]:
# sort()  ascending order
marks = [1,23,4,5,3,334,786,754,3,3556,43333333,56788]
print(marks)
marks.sort()
print(marks)

# sort()
marks.sort(reverse=True)
print(marks)

[1, 23, 4, 5, 3, 334, 786, 754, 3, 3556, 43333333, 56788]
[1, 3, 3, 4, 5, 23, 334, 754, 786, 3556, 56788, 43333333]
[43333333, 56788, 3556, 786, 754, 334, 23, 5, 4, 3, 3, 1]

# Set
A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [33]:
# sets

mysets = {"apple", "banana", "orange"}

#You can update the set by replacing with new content but not add anything any particular position.
mysets = {1,2,3}

# add() it will add items to the set

mysets.add("hamaza")

# remove() method will remove the element which is provided as parameter.
mysets.remove(1)

print(mysets)

{2, 3, 'hamaza'}

In [34]:
# Access the set elements

for element in mysets:
    print(element)

2
3
hamaza

In [35]:
# clear() method will remove all the elements from the list

mysets.clear()
print(mysets)
print(type(mysets))

set()
<class 'set'>

# Dictionaries
A dictionary in Python is a collection of key-value pairs, where each unique key is mapped to a corresponding value. In other words, it is a mapping between a set of keys and values. Dictionaries are unordered, which means that the items have no index and do not have a specific order.

Here's how you can create a dictionary in Python:

In [36]:
# Creating a dictionary 
person = {'name': 'John', 'age': 30, 'gender': 'male'}

# Accessing values using keys
print(person['name'])    # Output: 'John'
print(person['age'])     # Output: 30
print(person['gender'])  # Output: 'male'

John
30
male

In [37]:
# You can also create a dictionary using the dict() constructor:

# Creating a dictionary using dict() constructor
person = dict(name='VishaL', age=30, gender='male')
print(person)
print(person['name'])

# Updating age 
person['age'] = 24
print(person)
#  Adding a new key:value pair

person['hair']='black'
print(person)

# removing a key:value pair
person.pop('hair')
print(person)

# check if a key exists in the dictionary or not
print("gender" in person)
print("hair" in person)
check = "age" in person
print(check)

# get list of all keys of a dictionary
print("Keys are: "+str(person.keys()))

#  get list of all values of a dictionary
print("Values are: "+str(person.values()))

# get list of all items of a dictionary
print(person.items())

{'name': 'VishaL', 'age': 30, 'gender': 'male'}
VishaL
{'name': 'VishaL', 'age': 24, 'gender': 'male'}
{'name': 'VishaL', 'age': 24, 'gender': 'male', 'hair': 'black'}
{'name': 'VishaL', 'age': 24, 'gender': 'male'}
True
False
True
Keys are: dict_keys(['name', 'age', 'gender'])
Values are: dict_values(['VishaL', 24, 'male'])
dict_items([('name', 'VishaL'), ('age', 24), ('gender', 'male')])

### Important points

Here are some of the key operations you can perform with dictionaries:

1. Accessing values: You can access the value corresponding to a key using square brackets ([]) and the key.

2. Updating values: You can update the value associated with a key by simply reassigning the new value to the key.

3. Adding new key-value pairs: You can add a new key-value pair to a dictionary by simply assigning a value to a new key.

4. Removing key-value pairs: You can remove a key-value pair from a dictionary using the del statement or the pop() method.

5. Checking if a key exists: You can check if a key exists in a dictionary using the in keyword.

6. Getting all keys: You can get a list of all keys in a dictionary using the keys() method.

7. Getting all values: You can get a list of all values in a dictionary using the values() method.

8. Getting all items: You can get a list of all key-value pairs in a dictionary using the items() method.

Dictionaries are commonly used in Python for various purposes such as storing configuration data, working with JSON data, and many others. They are a fundamental data structure in Python and understanding them is important for any Python programmer.

# Control Flow 
Control flow refers to the order in which statements are executed in a program. Python provides several control flow statements that allow you to control the flow of execution of your program based on certain conditions.

Here are the main control flow statements in Python:

### if statements: 
An if statement allows you to execute a block of code only if a certain condition is met. The basic syntax of an if statement is as follows:

<code>
if condition:
    # Code to be executed if the condition is True
</code>

You can also use an else clause to specify a block of code to be executed if the condition is False:

<code>
if condition:
    # Code to be executed if the condition is True
else:
    # Code to be executed if the condition is False
</code>

And, you can use an elif clause to specify additional conditions to be checked:

<code>
if condition1:
    # Code to be executed if condition1 is True
elif condition2:
    # Code to be executed if condition1 is False and condition2 is True
else:
    # Code to be executed if all conditions are False
</code>

In [55]:
# Control flow
# if - statment
a = 10
if a > 5:
    print(str(a) + " is greater than 5")

10 is greater than 5

In [54]:
# if-else
a=3

if a > 5:
    print(str(a) + " is greater than 5")
else:
    print(str(a) + " is less than 5")
    
print("Program execution successful!!!")

3 is less than 5
Program execution successful!!!

In [52]:
# if -elif
a=5

if a > 5:
    print(str(a) + " is greater than 5")
elif a == 5:
    print(str(a) + " is equal to 5")
else:
    print(str(a) + " is less than 5")
    
print("Program execution successful!!!")

5 is equal to 5
Program execution successful!!!

# special operators
    1) and
        a) all true = true
        b) any false = false
    2) or
        a) any true = true
        b) all false = false

In [8]:
num = 12

if num%3 == 0 and num%2 == 0:
    print(str(num)+" is divisible by 3 and 2")
else:
    print(str(num)+" is not divisible by 3")

12 is divisible by 3 and 2

In [11]:
num = 15

if num%2 == 0 or num%10 == 0:
    print("divisible by either 2 or 10")
else:
    print("It is not divisible by 2 and 10.")

It is not divisible by 2 and 10.

# Loops or Iterators

### for loops:
A for loop allows you to iterate over a sequence (such as a list, tuple, or string) and execute a block of code for each item in the sequence. The basic syntax of a for loop is as follows:

<code>for item in sequence:
    # Code to be executed for each item in the sequence
</code>
    
### while loops: 
A while loop allows you to execute a block of code repeatedly as long as a certain condition is met. The basic syntax of a while loop is as follows:

<code>while condition:
    # Code to be executed while the condition is True
</code>
    
### break and continue: 
The break statement allows you to exit a loop early, while the continue statement allows you to skip the current iteration of a loop and continue with the next iteration.

These control flow statements allow you to add logic and decisions to your code and make it more flexible and powerful. Understanding how to use them is an essential part of programming in Python.

Functions:

Defining and calling functions
Function arguments
Return statement
Scope of variables